.form {
    display: flex;
    flex-direction: column;
    width: 300px;   
    
    border: solid 1px grey;
    border-radius: 5px;
    padding: 20px;
   
}
  
.label {
    font-weight: 600;
    font-size: 20px;
}
  
.input {
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
    border: solid 1px grey;
    border-radius: 3px;
    padding: 5px;
}
  
.input:focus {
    border: solid 2px rgb(6, 100, 240);
    border-radius: 3px;
    outline: none;
}
  
